@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100wh;
    height: 100vh;
    background: url(./images/background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

nav ul a {
    margin: 8px 30px;
}

nav ul a:hover {
    border-top: 1px solid #E1C48C;
    border-bottom: 1px solid #E1C48C;
}

.navbar-toggler {
    outline: none!important;
    border: none;
}

.fa {
    color: #fff!important;
    font-size: 35px!important;
}

.doctor-img img {
    margin-top: 20px;
}

.col2-text h1 {
    font-size: 3.8rem;
    font-family: 'Suez One', serif;
    font-weight: 900;
    color: #E1C48C;
}

.col2-text p {
    color: #fff;
    /* text-align: left; */
}

.col2-text button {
    padding: 7px 20px;
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #E1C48C;
    color: #4D2983;
    letter-spacing: 6px;
    border: none;
    outline: none;
    margin-left: 45px;
}

.col-2-content h1 {
    color: #fff;
    font-family: 'Suez One', serif;
    margin-bottom: 20px;
}

.hand-icon {
    margin: 10px 20px;
    font-size: 25px;
    text-align: center;
    padding: 6px;
    border: 1px dotted #E1C48C;
    border-radius: 100%;
    color: #fff;
}

.col-2-content p {
    color: #fff;
}

.social a i {
    font-size: 18px;
    color: #fff;
    margin: 10px;
}

.social a i:hover {
    color: #E1C48C;
}